body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  padding: 1rem;
  margin: 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  color: #ffffff;
}

h1, h2, h3 {
    line-height: 1.2;
    word-break: break-word;
}

p {
    font-size: 1rem;
}

a {
  background-color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}

a:link {
  color: #00c8c8;
}

a:visited {
  color: #ededed;
}

a:hover {
  color: #00eeee;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 10px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
